
body {
  margin: 0;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2.5%;
  font-family: sans-serif;
}
.guide {
    position: fixed;
    font-size: 18pt;
}

#top-left {
    left: 10%;
}
#top-right {
    right: 10%;
}
#bottom-left {
    bottom: 10%;
    left: 10%;
}

#bottom-right {
    bottom: 10%;
    right: 10%;
}

.switch-wrapper {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.switch-wrapper > div {
    display: block;
    position: absolute;
}
